SpeechRecognition
pyttsx3
groq
google-genai
PyAudio
winshell
pypiwin32
watchdog
schedule
pyautogui
pyperclip
youtube-transcript-api
psutil
numpy
edge-tts
pygame
vosk
sounddevice
python-dotenv
pillow
mss
plyer
pygetwindow
youtube-transcript-api
screen-brightness-control
pycaw
comtypes
